

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Employees</title>
</head>
<body>
    <partial name="_TimeBox" model="Model" />
<h1>Company AB</h1>
<a href="/create">Create</a>
<a href="/index">Index</a>
<br/>
<br/>
<br/>
@RenderBody()
<footer >Copyright by Joel</footer>
@RenderSection("endOfBody", required: false)
</body>
</html>