<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Employees</title>
</head>
<body>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%;top:0%;">
        <h3 class="w3-bar-item">hi</h3>
        <a href="/index" class="w3-bar-item w3-button">Anställda</a>
        <a href="/create" class="w3-bar-item w3-button">Lägg till</a>
            <a style="bottom:5%; position:absolute" href="/company" class="w3-bar-item w3-button">Byt bolag</a>
    <div style="bottom:1%; position:absolute; margin-left:10%;">
    <footer >Copyright by Vi</footer>
        </div>
</div>
<div class="content" style="margin-left:25%">

    <br/>

    @RenderBody()
    @RenderSection("endOfBody", required: false)
</div>
</body>
</html>

@*@EmployeesMvc.Controllers.EmployeesController.CurrentCompany.Name*@