@{
    string company = "";
    if (EmployeesMvc.Controllers.EmployeesController.CurrentCompany != null)
        company = @EmployeesMvc.Controllers.EmployeesController.CurrentCompany.Name;


    string employeeCount = "";
    if (EmployeesMvc.Controllers.EmployeesController.EmployeeCount != 0)
        employeeCount = EmployeesMvc.Controllers.EmployeesController.EmployeeCount.ToString();

    string currentPage = "";
    if (EmployeesMvc.Controllers.EmployeesController.CurrentPage != "")
        currentPage = EmployeesMvc.Controllers.EmployeesController.CurrentPage;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Employees</title>
</head>
<body>
    <div class="w3-bar w3-black" style="margin-left:20%; ">
        <p>
            <br></br>
            <span style="font-size:200%; top:2%; left:22%; position:absolute;">
                @currentPage
            </span>
        </p>
    </div>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%;top:0%;">
        <h3 class="w3-bar-item">@company</h3>
        <a href="/index" class="w3-bar-item w3-button">Anställda <span class="w3-tag w3-black w3-round w3-right" style="width:30px; height:22px">@employeeCount </span></a>
        <a href="/create" class="w3-bar-item w3-button">Lägg till <span class="w3-tag w3-black w3-round w3-right" style="width:30px; height:22px">+</span></a>
        <a href="/company" class="w3-bar-item w3-button">Byt bolag <span class="w3-tag w3-black w3-round w3-right" style="width:30px; height:22px">	⟲</span></a>
        <div style="bottom:1%; position:absolute; margin-left:10%;">
            <footer>Copyright by Vi</footer>
        </div>
    </div>
    <div class="content" style="margin-left:25%">

        <br />

        @RenderBody()
        @RenderSection("endOfBody", required: false)
    </div>
</body>
</html>

