@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using EmployeesMvc.Models
@model Employee

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Employees</title>
</head>
<body>
    <h1>Create</h1>
    <form asp-controller="employees" asp-action="create">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
        <br/>
        <input type="submit" value="Anställ"/>
    </form>
</body>
</html>