@using EmployeesMvc.Models
@model Employee

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Employees</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>@Model.Email</p>
    <button onClick="location.href='/'">Return</button>
</body>
</html>