@model CreateVM


<h1>@Model.Name</h1>
<p>E-Mail: @Model.Email</p>
<form asp-controller="employees" asp-action="details">
    <input type="submit" value="Sparka" />
</form>
<button onClick="location.href='/edit/@Model.Id'">Redigera</button>
