@using EmployeesMvc.Models
@model Employee[]

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Employees</title>
</head>
<body>
    <h1>Index</h1>
    <button onClick="location.href='/create'">Create</button>
    <ul>
        @foreach (var employee in Model)
        {
            <li><a href="/details/@employee.Id">@employee.Name</a></li>
        }
    </ul>
</body>
</html>